// @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600;700&display=swap');
@import './common_mixin.scss';



.btn-primary {
    color: white;
    font-size: 14px;
    margin: 0 auto;
    min-width: 150px;
    @include phone {
        font-size: 11px;
        padding: 5px;
        min-width: 100px;
    }
}
.container{
    margin:30px auto;
}

@include phone {
    h4{
        font-size: 16px !important;
    }
    p {
        font-size: 14px;
    }
}